* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background-color: rgb(50, 51, 79);
}

.container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container a, .container .word {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 30%;
  font-size: 30px;
  border: 2px solid rgb(96, 96, 136);
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}
.container a p, .container .word p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container a p span, .container .word p span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(56, 56, 143);
  border-radius: 100%;
}
.container a p span i, .container .word p span i {
  font-size: 20px;
}

.darslar .word {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .container a, .container .word {
    margin: 5px 25%;
  }
}
@media screen and (max-width: 900px) {
  .container a, .container .word {
    margin: 5px 20%;
  }
}
@media screen and (max-width: 700px) {
  .container a, .container .word {
    margin: 5px 15%;
  }
}
@media screen and (max-width: 570px) {
  .container a, .container .word {
    margin: 5px;
  }
}
@media screen and (max-width: 400px) {
  .container a, .container .word {
    font-size: 18px;
  }
}/*# sourceMappingURL=main_css.css.map */